:root {
  color: white;
  font-family: sofia-pro, sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#root {
  background: #1A1A1A;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas {
  width: 100%;
}